<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="AccExtinguisherConnection" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=AccExtinguisher;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <BL.Properties.Settings>
      <setting name="RatioIconSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="SampleNameFireCabinets" serializeAs="String">
        <value>ПК-#L.#F</value>
      </setting>
      <setting name="SampleNameExtinguishers" serializeAs="String">
        <value>#L.#F/#E</value>
      </setting>
      <setting name="SampleNameHoses" serializeAs="String">
        <value />
      </setting>
      <setting name="SampleNameHydrants" serializeAs="String">
        <value>Пожарный кран №#D</value>
      </setting>
      <setting name="UseTime" serializeAs="String">
        <value>True</value>
      </setting>
    </BL.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <BL.Properties.Settings>
      <setting name="DefaultSampleNameFireCabinets" serializeAs="String">
        <value>ПК-#L.#F</value>
      </setting>
      <setting name="DefaultSampleNameExtinguishers" serializeAs="String">
        <value>#L.#F/#E</value>
      </setting>
      <setting name="DefaultSampleNameHoses" serializeAs="String">
        <value>Рукав №#H</value>
      </setting>
      <setting name="DefaultSampleNameHydrants" serializeAs="String">
        <value>Пожарный кран №#D</value>
      </setting>
    </BL.Properties.Settings>
  </applicationSettings>
</configuration>